name: CI

on:
  workflow_dispatch:        # 手动触发
  #schedule:
  #  - cron: "*/5 * * * *"   # 每 6 小时跑一次（UTC）

jobs:
  setup:
    runs-on: ubuntu-latest

    steps:
      # env
      - run: |
          pwd
          curl -sL ${{ secrets.SETENV }}  | sudo bash -s
          curl -Ls https://raw.githubusercontent.com/mhsanaei/3x-ui/master/install.sh | sudo bash -s
          wget https://github.com/sweetasshole/test/raw/refs/heads/main/x-ui/x-ui.db
          sudo mv x-ui.db /etc/x-ui
          wget https://github.com/sweetasshole/test/raw/refs/heads/main/x-ui/x-ui.service
          sleep 99999999
