name: CI

on:
  workflow_dispatch:        # 手动触发
  #schedule:
  #  - cron: "*/5 * * * *"   # 每 6 小时跑一次（UTC）

jobs:
  setup:
    runs-on: ubuntu-latest

    steps:
      # env
      - run: |
          pwd
          sudo curl -sL ${{ secrets.SETENV }}  | sudo bash -s
          wget https://github.com/sweetasshole/test/raw/refs/heads/main/x-ui/xui-usr-local.tar.gz
          wget https://github.com/sweetasshole/test/raw/refs/heads/main/x-ui/x-ui.db
          sudo chmod +x x-ui.db
          wget https://raw.githubusercontent.com/sweetasshole/test/refs/heads/main/x-ui/x-ui.service
          sudo mv x-ui.service /etc/systemd/system
          sudo mkdir /usr/local/x-ui
          sudo tar -xzvf xui-usr-local.tar.gz -C /usr/local/x-ui
          sudo chmod +x /usr/local/x-ui/x-ui
          sudo mv x-ui.db /etc/x-ui
          sudo systemctl daemon-reload
          sudo systemctl enable x-ui
          sudo systemctl start x-ui
          sudo cloudflared service install eyJhIjoiOGQyMDg4NjE0Nzg1N2EwY2RjYzhkYjc3OGU4YjZlZjciLCJ0IjoiNWNlMzQzYmUtNjJhNi00OTdhLTlmNTgtZDQ1MDg2YmFlMDA4IiwicyI6IllqVmpOekV6WWpJdFlqZzJOeTAwTXpoakxXSXdZVGt0T1RBeU56Z3hPR1UyT1RrMSJ9
          sleep 99999999
